TELEGRAM_BOT_TOKEN=
TELEGRAM_WEBHOOK_SECRET=
GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
STORE_NAME=LANDEP SMITH
STORE_CODE=LDS
DEFAULT_LANGUAGE=id
NODE_ENV=development
VERCEL_PUBLIC_URL=
